<div class="header">
  <nav class="nav">
    <img src="../assets/formstack-forms.svg" alt="logo" class="nav__logo" />
    <ul class="nav__links">
      <li class="nav__item">
        <a [routerLink]="['/']" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a [routerLink]="['/form']" class="nav__link">Form</a>
      </li>
      <li class="nav__item">
        <a [routerLink]="['/users']" class="nav__link">Users</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
